RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://a.wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://a.wiec.edu.np$      [NC]
RewriteCond %{HTTP_REFERER} !^http://app.leapbroad.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://app.leapbroad.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dreamheight.com.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dreamheight.com.np$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dreamheight.com.np.wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dreamheight.com.np.wiec.edu.np$      [NC]
RewriteCond %{HTTP_REFERER} !^http://leapbroad.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://leapbroad.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mail.wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mail.wiec.edu.np$      [NC]
RewriteCond %{HTTP_REFERER} !^http://partners.leapbroad.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://partners.leapbroad.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wiec.edu.np$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.a.wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.a.wiec.edu.np$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.app.leapbroad.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.app.leapbroad.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dreamheight.com.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dreamheight.com.np$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dreamheight.com.np.wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dreamheight.com.np.wiec.edu.np$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.leapbroad.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.leapbroad.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mail.wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mail.wiec.edu.np$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.partners.leapbroad.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.partners.leapbroad.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wiec.edu.np$      [NC]
RewriteCond %{HTTP_REFERER} !^https://a.wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://a.wiec.edu.np$      [NC]
RewriteCond %{HTTP_REFERER} !^https://app.leapbroad.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://app.leapbroad.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dreamheight.com.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dreamheight.com.np$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dreamheight.com.np.wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dreamheight.com.np.wiec.edu.np$      [NC]
RewriteCond %{HTTP_REFERER} !^https://leapbroad.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://leapbroad.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mail.wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mail.wiec.edu.np$      [NC]
RewriteCond %{HTTP_REFERER} !^https://partners.leapbroad.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://partners.leapbroad.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wiec.edu.np$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.a.wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.a.wiec.edu.np$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.app.leapbroad.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.app.leapbroad.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dreamheight.com.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dreamheight.com.np$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dreamheight.com.np.wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dreamheight.com.np.wiec.edu.np$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.leapbroad.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.leapbroad.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mail.wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mail.wiec.edu.np$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.partners.leapbroad.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.partners.leapbroad.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wiec.edu.np/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wiec.edu.np$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

